/* BUTTONS */
.button {
    display: inline-block;
    border: 2px solid #000000;
    color: black;
    text-decoration: none;
    padding: 1em;
    border-radius: 15px;
    margin: 1em 0.5em 1em 0;

    &:hover {
        border: none;
        background-color: $color-accent-red;
    }
}

